<?xml version="1.0" encoding="UTF-8"?>
<ipxact:component xmlns:xsi="http" xmlns:ipxact="http" xmlns:anlogic="http" xsi:schemaLocation="http">
    <ipxact:vendor>anlogic.com</ipxact:vendor>
    <ipxact:library>customized</ipxact:library>
    <ipxact:name>system</ipxact:name>
    <ipxact:version>1.0</ipxact:version>
    <ipxact:busInterfaces/>
    <ipxact:model>
        <ipxact:instantiations>
            <ipxact:componentInstantiation>
                <ipxact:name>system</ipxact:name>
                <ipxact:language>verilog</ipxact:language>
                <ipxact:moduleName>system</ipxact:moduleName>
                <ipxact:fileSetRef>
                    <ipxact:localName>fs-system</ipxact:localName>
                </ipxact:fileSetRef>
            </ipxact:componentInstantiation>
            <ipxact:designInstantiation>
                <ipxact:name>design_system_Inst</ipxact:name>
                <ipxact:designRef vendor="anlogic.com" library="customized" name="design_system" version="1.0"/>
            </ipxact:designInstantiation>
        </ipxact:instantiations>
        <ipxact:ports>
            <ipxact:port>
                <ipxact:name>p2f_clk0</ipxact:name>
                <ipxact:displayName>p2f_clk0</ipxact:displayName>
                <ipxact:wire>
                    <ipxact:direction>out</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>p2f_rst0_n</ipxact:name>
                <ipxact:displayName>p2f_rst0_n</ipxact:displayName>
                <ipxact:wire>
                    <ipxact:direction>out</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>I_fdma_waddr</ipxact:name>
                <ipxact:displayName>I_fdma_waddr</ipxact:displayName>
                <ipxact:wire>
                    <ipxact:direction>in</ipxact:direction>
                    <ipxact:vectors>
                        <ipxact:vector>
                            <ipxact:left>31</ipxact:left>
                            <ipxact:right>0</ipxact:right>
                        </ipxact:vector>
                    </ipxact:vectors>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>I_fdma_wareq</ipxact:name>
                <ipxact:displayName>I_fdma_wareq</ipxact:displayName>
                <ipxact:wire>
                    <ipxact:direction>in</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>I_fdma_wsize</ipxact:name>
                <ipxact:displayName>I_fdma_wsize</ipxact:displayName>
                <ipxact:wire>
                    <ipxact:direction>in</ipxact:direction>
                    <ipxact:vectors>
                        <ipxact:vector>
                            <ipxact:left>15</ipxact:left>
                            <ipxact:right>0</ipxact:right>
                        </ipxact:vector>
                    </ipxact:vectors>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>I_fdma_wready</ipxact:name>
                <ipxact:displayName>I_fdma_wready</ipxact:displayName>
                <ipxact:wire>
                    <ipxact:direction>in</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>I_fdma_raddr</ipxact:name>
                <ipxact:displayName>I_fdma_raddr</ipxact:displayName>
                <ipxact:wire>
                    <ipxact:direction>in</ipxact:direction>
                    <ipxact:vectors>
                        <ipxact:vector>
                            <ipxact:left>31</ipxact:left>
                            <ipxact:right>0</ipxact:right>
                        </ipxact:vector>
                    </ipxact:vectors>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>I_fdma_rareq</ipxact:name>
                <ipxact:displayName>I_fdma_rareq</ipxact:displayName>
                <ipxact:wire>
                    <ipxact:direction>in</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>I_fdma_rsize</ipxact:name>
                <ipxact:displayName>I_fdma_rsize</ipxact:displayName>
                <ipxact:wire>
                    <ipxact:direction>in</ipxact:direction>
                    <ipxact:vectors>
                        <ipxact:vector>
                            <ipxact:left>15</ipxact:left>
                            <ipxact:right>0</ipxact:right>
                        </ipxact:vector>
                    </ipxact:vectors>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>I_fdma_rready</ipxact:name>
                <ipxact:displayName>I_fdma_rready</ipxact:displayName>
                <ipxact:wire>
                    <ipxact:direction>in</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>O_fdma_wbusy</ipxact:name>
                <ipxact:displayName>O_fdma_wbusy</ipxact:displayName>
                <ipxact:wire>
                    <ipxact:direction>out</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>O_fdma_wvalid</ipxact:name>
                <ipxact:displayName>O_fdma_wvalid</ipxact:displayName>
                <ipxact:wire>
                    <ipxact:direction>out</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>O_fdma_rbusy</ipxact:name>
                <ipxact:displayName>O_fdma_rbusy</ipxact:displayName>
                <ipxact:wire>
                    <ipxact:direction>out</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>O_fdma_rvalid</ipxact:name>
                <ipxact:displayName>O_fdma_rvalid</ipxact:displayName>
                <ipxact:wire>
                    <ipxact:direction>out</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>I_fdma_wdata</ipxact:name>
                <ipxact:displayName>I_fdma_wdata</ipxact:displayName>
                <ipxact:wire>
                    <ipxact:direction>in</ipxact:direction>
                    <ipxact:vectors>
                        <ipxact:vector>
                            <ipxact:left>63</ipxact:left>
                            <ipxact:right>0</ipxact:right>
                        </ipxact:vector>
                    </ipxact:vectors>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>O_fdma_rdata</ipxact:name>
                <ipxact:displayName>O_fdma_rdata</ipxact:displayName>
                <ipxact:wire>
                    <ipxact:direction>out</ipxact:direction>
                    <ipxact:vectors>
                        <ipxact:vector>
                            <ipxact:left>63</ipxact:left>
                            <ipxact:right>0</ipxact:right>
                        </ipxact:vector>
                    </ipxact:vectors>
                </ipxact:wire>
            </ipxact:port>
            <ipxact:port>
                <ipxact:name>pl_gpio_out</ipxact:name>
                <ipxact:displayName>pl_gpio_out</ipxact:displayName>
                <ipxact:wire>
                    <ipxact:direction>out</ipxact:direction>
                </ipxact:wire>
            </ipxact:port>
        </ipxact:ports>
    </ipxact:model>
    <ipxact:fileSets>
        <ipxact:fileSet>
            <ipxact:name>fs-system</ipxact:name>
            <ipxact:file>
                <ipxact:name>hdl/system.v</ipxact:name>
                <ipxact:fileType>verilogSource</ipxact:fileType>
            </ipxact:file>
            <ipxact:file>
                <ipxact:name>Design.xml</ipxact:name>
                <ipxact:fileType>user</ipxact:fileType>
            </ipxact:file>
            <ipxact:file>
                <ipxact:name>system.address.xml</ipxact:name>
                <ipxact:fileType>user</ipxact:fileType>
            </ipxact:file>
            <ipxact:file>
                <ipxact:name>ui/system.ui.xml</ipxact:name>
                <ipxact:fileType>user</ipxact:fileType>
            </ipxact:file>
            <ipxact:file>
                <ipxact:name>ip/system_ARM_Processor_System_0/Design.xml</ipxact:name>
                <ipxact:fileType>user</ipxact:fileType>
            </ipxact:file>
            <ipxact:file>
                <ipxact:name>ip/system_ARM_Processor_System_0/DesignConfiguration.xml</ipxact:name>
                <ipxact:fileType>user</ipxact:fileType>
            </ipxact:file>
            <ipxact:file>
                <ipxact:name>ip/system_ARM_Processor_System_0/DesignTmp.xml</ipxact:name>
                <ipxact:fileType>user</ipxact:fileType>
            </ipxact:file>
            <ipxact:file>
                <ipxact:name>ip/system_ARM_Processor_System_0/GuiFinal.xml</ipxact:name>
                <ipxact:fileType>user</ipxact:fileType>
            </ipxact:file>
            <ipxact:file>
                <ipxact:name>ip/system_ARM_Processor_System_0/system_ARM_Processor_System_0.xml</ipxact:name>
                <ipxact:fileType>IP</ipxact:fileType>
            </ipxact:file>
            <ipxact:file>
                <ipxact:name>ip/system_uiFDMA_0/system_uiFDMA_0.v</ipxact:name>
                <ipxact:fileType>verilogSource</ipxact:fileType>
            </ipxact:file>
        </ipxact:fileSet>
    </ipxact:fileSets>
    <ipxact:vendorExtensions>
        <anlogic:device>DR1M90GEG400</anlogic:device>
        <anlogic:customTool>use_integrator</anlogic:customTool>
    </ipxact:vendorExtensions>
</ipxact:component>
